{% load static %}
{% load seo_extras %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% home_title %}</title>

    <meta name="description" content="Full-Stack developer, freelancer, linux, ruby, python and nodejs developer">
    <meta name="google-site-verification" content="vNe4XZYtnvkJRAE95Ho4nsRNEbpOsGKvc4UA6KT90tc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="131AB922FCE503FADA886DAF4DD4983C">
    <!-- tema zone-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- dudando...-->
    <!-- <meta name="description" content="@sonic182 portfolio">-->
    <meta name="author" content="@sonic1182">

    <link rel="stylesheet" href="{% static "app.css" %}" media="screen" >
  </head>
  <body>
    {% include "layout/navbar.html" %}
    {% block content %}
    {% endblock %}

    {% include "layout/footer.html" %}
    <script async src="{% static "js/main.js" %}"></script>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"Este sitio web utiliza cookies para asegurarse de obtener la mejor experiencia en nuestro sitio web","dismiss":"Ok!","learnMore":"Más información","link":"https://es.wikipedia.org/wiki/Cookie_(informática)","theme":"dark-bottom"};
    </script>

    <script async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

  </body>
</html>
