{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="text-center">{% trans "About me" %}</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-6">
          {# <img src="{% static "images/red.jpg" %}" alt="" class="img-responsive" />#}
          <img src="{% static "images/red.jpg" %}" alt="" class="img-responsive" />
        </div>
        <div class="col-sm-6">
          <p>
            
          </p>
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
