
#animate{
  opacity: 0;
  font-size: 5em;
}

.gray-bordered{
  // opacity: 0.6;
  box-shadow: 0px 2px 3px 1px gray;
}

.tecnology{
  height: 135px;
}

.btn-hot{
  background-color: rgb(84, 181, 236);
  color:white;
  border-radius: 0px;
  border: 2px solid white;
  font-weight: bold;
}
.btn-hot:hover,
.btn-hot:focus{
  color: #eee;
  background-color: rgb(70, 158, 208);
}

#contact{
  padding: 50px;
}

// footer{
//   background-color: rgb(63, 69, 75);
//   color: white;
//   .text-muted{
//     color: white;
//   }
//   a{
//     color: rgb(126, 220, 250);
//   }
//   a:hover,
//   a:focus{
//     color: rgb(39, 142, 156);
//   }
// }

.z-up{
  z-index: 10;
}
.navbar-default{
  z-index: 3;
  background-color: white;
  border-bottom: 0px;
  margin-bottom: 0px;
  // border-bottom: 2px solid white;
  // padding: 3px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;

  .navbar-nav > li > a {
    color: $text-muted;
  }

  img{
    height: 70px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
  }
}

// .navbar-dark{
//   // background-color: rgba(255, 255, 255, 0.75);
//   background-color: $brand-info;
//   // .navbar-nav > li > a {
//   //   color: white;
//   // }
//   // border-bottom: 2px solid $text-muted;
//   img{
//     height: 55px;
//   }
// }
//
// .navbar-gone{
//   // border-bottom: 2px solid $brand-mogollon;
//   img{
//     // opacity: 0;
//     // visibility: hidden;
//   }
//   // background-color: transparent;
//   // background-color: rgba(56, 56, 56, 0.82);
//   background-color: white;
//   border: 0px;
//   .navbar-nav > li > a {
//     color: $text-muted;
//   }
//   // background-color: red;
// }
