.courses{
  padding: 15px 0px;
  .course{
    a{
      text-decoration: none;
    }
    .panel{
      border: 1px solid #ddd;
      margin: 15px auto;
      h1, h2, h3, h4{
        margin: 0px;
      }
    }
    .panel:hover{
      border: 1px solid #bbb;
    }
  }
}
.img_course{
  background-color: black;
  display: table;
  width: 100%;
  height: 260px;
}

.courses_show{
  .course_info{
    padding: 15px 0px;
  }
}

.student_form{
    input, textarea{
      @extend .form-control;
    }
}
