.courses{
  padding: 15px 0px;
  .course{
    .panel{
      border: 1px solid #ddd;
      margin: 15px auto;
      h1, h2, h3, h4{
        margin: 0px;
      }
    }
    .panel:hover{
      border: 1px solid #bbb;
    }
  }
}

.courses_show{
  .course_info{
    padding: 15px 0px;
  }
}
