{% extends "base.html" %}
{% block content %}
  <div class="my_container">
    <div class="text-center">
      <h1> Cursos </h1>
    </div>

    <div class="courses">
      {% if courses.count == 0 %}
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="text-center">
            <h3>En estos momentos no hay cursos disponibles</h3>
            {% include "courses/mail_list.html" %}
          </div>

        </div>
      </div>
      {% else %}

      <div class="row">
        {% for course in courses %}
        {% if forloop.counter0|divisibleby:2 %}</div><div class="row">{% endif %}
          <div class="col-md-6 course">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <a href="{% url 'courses_show' id=course.id %}">
                  <div class="panel panel-primary">
                    <div
                    style="background: url('{{course.picture.url}}');
                    background-size: cover;
                    background-repeat: no-repeat;
                    "
                    class="img_course">

                    </div>
                    {# <img src="{{course.picture.url}}" alt="" class="img_course" />#}
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                      <h3>{{course.title}}</h3>
                      <span class="text-muted">
                        Fecha de Inicio: <b>{{course.start_date|date}}</b>
                      </span>
                    </div>

                  </div>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% include "courses/mail_list.html" %}

      {% endif %}

    </div>


  </div>
{% endblock %}
