{% extends "base.html" %}
{% block content %}
  <div class="my_container">
    <div class="text-center">
      <h1> Cursos </h1>
    </div>

    <div class="courses">

      <div class="row">
        {% for i in range %}
        {% if i|divisibleby:2 %}</div><div class="row">{% endif %}
          <div class="col-md-6 course">
            <a href="{% url 'courses_show' id=i %}">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="panel panel-default">
                    <img src="//placekitten.com/600/300" alt="" class="img-responsive" />
                    <div class="panel-heading text-center">
                      <h3>Course {{i}}</h3>
                    </div>

                  </div>
                </div>

              </div>
            </a>
          </div>
          {% endfor %}
        </div>

    </div>


  </div>
{% endblock %}
