{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="my_container courses_show">
  <div class="text-center">
    <h1 class="course-title">{{course.title}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-9 pull-right">
      <img src="{{course.picture.url}}" alt="" class="img-responsive" />
      <div class="course_info">
        {{course.description|safe}}
      </div>
    </div>
    <div class="col-sm-4 col-md-3 pull-left course_info_md">
      <div class="subscription_form">
        <form action="{% url 'courses_show' id=course.id %}" method="post" class="panel panel-default bootstrap_form">
          {% csrf_token %}
          <div class="panel-body">
            <ul class="list-unstyled">
              <li>{% trans "Fecha de Inicio" %}: <b>{{course.start_date|date}}</b></li>
              <li>{% trans "Dado por" %}: <b>{{course.author}}</b></li>
              <li>{% trans "Lugar" %}: <b>{{course.place}}</b></li>
              <li>{% trans "Horario" %}: <b>{{course.schedule}}</b></li>
              <li>{% trans "Precio" %}: <b>{{course.price}}</b></li>
              {# <li class="text-primary">Inscritos: <b>{{course.student_set.count}}</b></li>#}
            </ul>
            {# <small class="text-muted">Inscribete pronto para organizar los horarios</small>#}
            <hr>
            <div class="form-group">
              {# <label for="">Nombre</label>#}
              {# <input type="text" name="name" value="" class="form-control" placeholder="Ej: Juan Gonzales">#}
              {{form.name.errors}}
              {{form.name.label_tag}}
              {{form.name|attr:'placeholder:Ej: Juan Gonzales'}}
            </div>
            <div class="form-group">
              {# <label for="">Correo</label>#}
              {# <input type="text" name="name" value="" class="form-control" placeholder="Ej: micorreo@hotmail.com">#}
              {{form.email.errors}}
              {{form.email.label_tag}}
              {{form.email|attr:'placeholder:Ej: micorreo@hotmail.com'}}
            </div>
            <div class="form-group">
              {# <label for="">Teléfono</label>#}
              {# <input type="text" name="name" value="" class="form-control" placeholder="Ej: 637 284 881">#}
              {{form.phone.errors}}
              {{form.phone.label_tag}}
              {{form.phone|attr:'placeholder:Ej: 637 284 881'}}
            </div>
            <button type="submit" class="btn btn-primary btn-block">{% trans "Suscribirme!" %}</button>
            <div class="form-group">
              <small class="text-muted">{% trans "Tus datos solo serán utilizados por mi para contactarnos y organizar el grupo, en ningún momento serán dado a terceros." %}</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
