{% load static %}
<!-- Footer-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center"><img src="{% static "images/mogollon_full.svg" %}" height="100">
        <p>Para cualquiera de los servicios ponerse en contacto. <br>          Puede optar por una <b>prueba gratis</b> si así lo desea. <br></p>
        <h4><strong>Johanderson Mogollon</strong></h4>
        <ul class="list-unstyled">
          <!-- <li><i class="fa fa-skype fa-lg"></i> sonic-1822 </a></li>-->
          <li><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:johander1822@gmail.com"> johander1822@gmail.com</a></li>
          <li><i class="fa fa-rss-square fa-lg"></i><a href="http://blog.mogollon.com.ve"> Blog Personal</a></li>
          <li><i class="fa fa-phone fa-lg"></i><a href="telf:0034637284881"> 637 284 881</a></li>
          <li><i class="fa fa-map-marker fa-lg"></i><a> Alicante</a></li>
          <!-- <li><i class="fa fa-github fa-lg"></i><a href="https://github.com/sonic182" target="_blank" > sonic182</a></li>-->
        </ul><br>
        <ul class="list-inline">
          <!--
          <li>
          <a href="https://www.facebook.com/johanderson" target="_blank"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
        </li>
      -->
      <li><a href="https://twitter.com/sonic182" target="_blank"><i class="fa fa-twitter-square fa-fw fa-3x"></i></a></li>
      <li><a href="https://github.com/sonic182" target="_blank"><i class="fa fa-github-square fa-fw fa-3x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/johanderson" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-3x"></i></a></li>
    </ul>
    <hr class="small">
    <p class="text-muted">Copyright © sonic182 2016</p>
  </div>
</div>
</div>
</footer>
<!-- jQuery-->
<!-- <script src="js/jquery.js"></script>-->
<!-- Bootstrap Core JavaScript-->
<!-- <script src="js/bootstrap.min.js"></script>-->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-62284118-1', 'auto');
ga('send', 'pageview');
</script>
